body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
	background-image: url("../images/3468811439_48da9e71eb_b.jpg");
}
h1{
	font-family: "Comic Sans MS","Times New Roman", Times, serif;
	/*text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	color: #FFCC00;*/
}
#container{
	float: left;
	padding-left: 25%;
}

.centered {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
#lGuesses{
	float: right;
	padding-right: 11%;
}
@media screen and (max-width: 877px) {
  #lGuesses{
	  float: left;
  }
}
@media screen and (min-width: 1200px) {
  #lGuesses{
	  float: left;
	  padding-left: 20px;
  }
}
